.m-15-tb {
    margin-top: 15px;
    padding-bottom: 15px;
}
.p-15-rl {
    padding-right: 15px;
    padding-left: 15px;
}

.form-group{
    margin-bottom: 15px;
}

// Настройки флекс контейнера
.d-flex {
    display: flex;
}
.flex-100 {
    flex: 0 0 100%;
    max-width: 100%;
}
.flex-66 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.flex-50 {
    flex: 0 0 50%;
    max-width: 50%;
}
.flex-33 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.flex-column {
    flex-direction: column;
}
.flex-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.al-center {
    align-items: center;
}

.al-start {
    align-items: flex-start;
}

.al-end {
    align-items: flex-end;
}

.j-between {
    justify-content: space-between;
}
.j-around {
    justify-content: space-around;
}
.j-center {
    justify-content: center;
}