@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


@font-face {
  font-family: "SF Pro";
  src: url(../resources/fonts/SFProText/SFProText-Light.ttf);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "SF Pro";
  src: url(../resources/fonts/SFProText/SFProText-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SF Pro";
  src: url(../resources/fonts/SFProText/SFProText-Medium.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "SF Pro";
  src: url(../resources/fonts/SFProText/SFProText-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SF Pro";
  src: url(../resources/fonts/SFProText/SFProText-Heavy.ttf);
  font-style: normal;
  font-weight: 800;
}
