// Настройки кнопок, полей ввода, ссылки
@import "./media";
// Links
a {
    text-decoration: none;
}

// Inputs, Buttons
input,
button {
    outline: none;
    border: none;
}
.btn{
    padding: 0 25px;
    cursor: pointer;
    line-height: 42px;
    display: inline-block;
    background: none;
    border: 1px solid transparent;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none !important;
    transition: .3s all ease-in-out;
    &.px-btn-theme {
        background: #2fbf71;
        color: #FFFFFF;
        box-shadow: 4px 4px #FFFFFF;
        .theme-light & {
            box-shadow: 4px 4px #0b0b13;
        }
        &:hover {
            background: #FFFFFF;
            color: #2fbf71;
            box-shadow: 4px 4px #2fbf71;
            .theme-light & {
                background: #0b0b13;
                color: #FFFFFF;
            }
        }
    }
}

/**THEME SWITCH IMAGE BLOCK*/


/**SEPARATOR FOR SECTIONS*/

//.separator {
//    padding-top: 80px;
//    padding-bottom: 80px;
//    position: relative;
//
//    &:after {
//        content: "";
//        position: absolute;
//        top: 0;
//        left: 0;
//        right: 0;
//        bottom: 0;
//        margin: auto;
//        height: 1px;
//        background: #fff;
//        opacity: 0.1;
//    }
//}
