// Глобальные переменные

$bg-primary: #38384e;
$link-gray: rgba(255, 255, 255, 0.8);
$white: #FFFFFF;
$green-primary: #2fbf71;
$yellow-primary: #f6cb1e;
$separator: rgba(255, 255, 255, 0.03);

$font-primary: "SF Pro", sans-serif;

$theme-text-color: #FFFFFF;
$theme-links-color: rgba(255, 255, 255, 0.8);
$theme-svg-color: rgba(255, 255, 255, 0.8);
$theme-social-color: rgba(255, 255, 255, 0.8);
$theme-sidebar-color: #333342;
$theme-bg-color: #38384e;

/**------------------------Light theme variables---------------------------*/
$light-theme-text: #000000;
$light-theme-bg: #FFFFFF;
$light-theme-sidebar-bg: #f7f7ff;
$light-theme-sidebar-links:  rgba(11, 11, 19, 0.7);

