*,
*:before,
*:after {
    box-sizing: border-box;
}

@import "./fonts.scss";
@import "./normalize.scss";
@import "./mixins";
@import "./variables";
@import "./flex-grid";
@import "./icons";
@import "./interface";
@import "./media";

//Layout
@import "layout/sidebar";
@import "layout/home";
@import "layout/lightTheme";
@import "layout/about";
@import "layout/education";
@import "layout/burger";
@import "layout/swiper";
body {
    overflow-x: hidden;
    font-family: $font-primary;
    background-color: $bg-primary;
    color: white;
}

/**----------------------------------------*/

#wrapper {
    display: none;
    transition: opacity 1s ease-in;
    overflow: hidden;

}

.container {
    position: relative;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include _1200 {
        width: 950px;
    }
}

.main {
    left: 250px;
    position: absolute;
    height: auto;
    width: calc(100% - 250px);
    @include _1200 {
        display: block;
        width: 100%;
        position: relative;
        left: 0;
    }
}

/**----------------------------HEADER MOBILE-------------------*/
.header-mobile {
    padding: 15px;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    background: $theme-bg-color;

    &__label {
        font-weight: 800;
        font-size: 25px;
        line-height: 1;
    }
    @include _1200 {
        display: flex;
    }
}

//EXPERIENCE
.experience-box {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-top: 40px;
    background: $theme-sidebar-color;
    &__item {
        position: relative;
        h6 {
            margin-bottom: 6px;
            font-weight: 500;
            font-size: 20px;
        }
        label {
            font-size: 13px;
        }
        p {
            line-height: 130%;
            margin-top: 14px;
        }
        &-time {
            display: inline-block;
            padding: 5px 10px;
            color: #fff;
            background: #2fbf71;
            font-size: 10px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    &__wrapper {
        padding: 35px;
        border-bottom: 1px solid $separator;
    }
    &__item-col-16 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
        padding-right: 15px;
        padding-left: 15px;
    }
    &__item-col-84 {
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
        padding-right: 15px;
        padding-left: 15px;
    }
    img {
        max-width: 100%;
    }
}


//SERVICES
.big-size {
    width: 145px;
    height: 52px;
    &:hover {
        background: white;
    }
}
.services-wrapper {
    margin-top: 45px;
}
.service-item {
    margin-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    &__box {
        padding: 40px;
        overflow: hidden;
        background: $theme-sidebar-color;
        transition: ease background 0.35s;
        &:hover {
            background: $green-primary;
        }
        &-content {
            padding-left: 25px;
            h5 {
                font-size: 20px;
                margin-bottom: 15px;
            }
            p {
                line-height: 130%;
            }
        }
    }
}
.icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    color: #fff;
    text-align: center;
}
.icon-mobile {
    &:before {
        content: "\e000";
    }
}

//FEEDBACK CONTACT
.feedback {
    &-wrapper {
        margin-top: 45px;
    }
    &-contact {
        &__info{
            padding: 30px;
            background: $theme-sidebar-color;
            height: 400px;
            h4 {
                margin-bottom: 20px;
                font-size: 28px;
                font-weight: 600;
            }
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            .phone, .email {
                margin-top: 30px;
                img {
                   padding-right: 10px;
                }
            }
        }
    }
    &-form {
        margin-left: 20px;
        padding: 30px;
        background: $theme-sidebar-color;
        button {
            margin-top: 30px;
        }
        h4 {
            font-weight: 500;
            color: #fff;
            font-size: 22px;
            margin-bottom: 20px;
        }
    }
}

.form-controller {
    color: #fff;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    resize: none;
    width: 100%;
    height: calc(2em + 0.75rem + 2px);
}
.h100 {
    height: auto;
}