*,
*:before,
*:after {
    box-sizing: border-box;
}

@import "./fonts.scss";
@import "./normalize.scss";
@import "./mixins";
@import "./variables";
@import "./flex-grid";
@import "./icons";
@import "./interface";
@import "./media";

//Layout
@import "layout/sidebar";
@import "layout/home";
@import "layout/lightTheme";
@import "layout/about";

body {
    overflow-x: hidden;
    font-family: $font-primary;
    background-color: $bg-primary;
    color: white;
}

/**----------------------------------------*/

#wrapper {
    display: none;
    transition: opacity 1s ease-in;
    overflow: hidden;

}

.container {
    position: relative;
    max-width: 1140px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @include _1200 {
        width: 950px;
    }
}

.main {
    left: 250px;
    position: absolute;
    height: auto;
    width: calc(100% - 250px);
    @include _1200 {
        display: block;
        width: 100%;
        position: relative;
        left: 0;
    }
}

/**----------------------------HEADER MOBILE-------------------*/
.header-mobile {
    padding: 15px;
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    background: $theme-bg-color;

    &__label {
        font-weight: 800;
        font-size: 25px;
        line-height: 1;
    }
    @include _1200 {
        display: flex;
    }
}

//EDUCATION
.skills-column {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.education-column {
    padding-top: 35px;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    &__list {
        background: #333342;
        li {
            padding: 20px 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.03);
        }
        h6 {
            font-size: 16px;
            margin: 5px 0;
        }
        span {
            background: #2fbf71;
            color: #fff;
            font-size: 11px;
            padding: 1px 8px;
            display: inline-block;
            vertical-align: top;
            letter-spacing: 1px;
            margin-left: -24px;
            position: relative;
            margin-bottom: 9px;

            &:after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                border-top: 5px solid #165934;
                border-left: 5px solid transparent;
            }
        }
    }
}




