@import '../variables';
@import "../media";

.about {
  padding-top: 60px;
  @include _979 {
    padding-top: 700px;
  }
  @include _706 {
    padding-top: 450px;
  }
  @include _533 {
    padding-top: 250px;
  }
  .container {
    display: flex;
  }
  height: auto;
  width: 100%;
  &-info {
    max-width: 445px;
    padding-top: 16px;

    @include _979 {
      margin-left: auto;
      margin-right: auto;
      max-width: 680px;
      padding-top: 60px;
    }
    &__buttons {

      &-button{
        margin-right: 30px;
        @include _400 {
          margin-right: 10px;
        }
      }
    }
  }
  &-text {
    p {
      margin-top: 40px;
      line-height: 130%;
    }
    span {
      font-size: 50px;
      line-height: 1;
      color: #fff;
      font-weight: 600;
      min-width: 55px;
      margin-left: 14px;
    }
    &__row {
      margin: 30px -15px;
      &-media__body {
        padding-left: 4px;
        padding-top: 4px;
        flex: 1;
      }
    }
  }
  &-images {
    img {
      padding: 4px;
      max-width: 100%;
    }
    &__left {
      align-items: flex-end;
    }
    &__right {
      align-items: flex-start;
    }
  }
  &-info {
    padding-left: 50px;
    @include _706 {
      padding-left: 0;
    }
  }
  @include _979 {
    .container{
      flex-direction: column;
    }

  }
}