@import '../variables';
@import '../media';

//EXPERIENCE
.experience-box {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-top: 40px;
  background: $theme-sidebar-color;
  &__item {
    position: relative;
    h6 {
      margin-bottom: 6px;
      font-weight: 500;
      font-size: 20px;
      @include _706 {
        margin-top: 20px;
      }
    }
    label {
      font-size: 13px;
    }
    p {
      line-height: 130%;
      margin-top: 14px;
    }
    &-time {
      display: inline-block;
      padding: 5px 10px;
      color: #fff;
      background: #2fbf71;
      font-size: 10px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__wrapper {
    padding: 35px;
    border-bottom: 1px solid $separator;
    @include _706 {
      padding: 15px;
    }
  }
  &__item-col-16 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    padding-right: 15px;
    padding-left: 15px;
    @include _706 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  &__item-col-84 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
    padding-right: 15px;
    padding-left: 15px;
    @include _706 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  img {
    max-width: 100%;
    @include _706 {
      max-width: 31%;
    }
  }
}