@import '../variables';
@import "../media";

/*----------------------------------------------HOME-------------------------------*/

.home {
  width: 100%;
  height: 100vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  &-banner {
    padding-top: 100px;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      right: -20vh;
      top: -20vh;
      width: 100vh;
      height: 100vh;
      border-radius: 50%;
      background: #333342;
      z-index: -1;
    }
  }

  &-card {
    position: inherit;
    z-index: 3;
    gap: 32px;
    margin-right: -15px;
    margin-left: -15px;
    min-height: 100vh;
    @include _979 {
      flex-wrap: wrap;
      margin-top: 100px;
    }
    @include _768{
      margin-top: 200px;
    }
    @include _533 {
      margin-top: 30px;
    }

    h6 {
      font-size: 25px;
      font-weight: 500;
      margin: 0 0 20px;
      @include _706 {
        font-size: 18px;
      }
    }
    p{
      font-size: 18px;
      line-height: 32px;
      @include _706 {
        font-size: 16px;
      }

    }
    h2 {
      font-size: 65px;
      font-weight: 700;
      line-height: 1;
      margin: 0 0 20px;
      @include _1333 {
        font-size: 52px;
      }
      @include _706 {
        font-size: 45px;
      }
      @include _533 {
        font-size: 38px;
      }
    }
    &__description {
      max-width: 590px;
      &-text {
        width: 450px;
        height: 190px;
        @include _533 {
          width: 100%;
        }
      }
      @include _768 {
        margin-right: auto;
        margin-left: 38px;
      }
      //@include _533 {
      //  width: 100%;
      //  margin-left: 0;
      //}
    }
    &__photo {
      width: 540px;
      height: 540px;
      border-radius: 50%;
      border: 4px solid $yellow-primary;
      background: url("../resources/img/morty.png") center / contain no-repeat;
      @include _1420 {
        width: 445px;
        height: 445px;
      }
      @include _979 {
        width: 666px;
        height: 666px;
      }
      @include _706 {
        max-width: 510px;
        height: 510px;
      }
      @include _533 {
        width: 300px;
        height: 300px;
      }
    }
  }
}
