@import '../variables';
@import "../media";

/**----------Light theme button-----------*/

.grid {
  position: fixed;
  top: 25px;
  right: 25px;
  background: inherit;
  z-index: 33333;
  .demo {
    font-size: 32px;
  }
  @include _1200 {
    right: 68px;
    top: 16px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch .theme-switcher {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #444457;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "🌑";
  height: 0;
  width: 0;
  left: -10px;
  top: 16px;
  line-height: 0;
  transition: 0.4s;
}

.theme-switcher:checked + .slider:before {
  left: 4px;
  content: "🌞";
}

.theme-switcher:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**----------Light theme classes-----------*/

.lightTheme {
  background-color: #FFFFFF;
  .skill-it {
    .skill-bar{
      background: #cccccc;
    }
  }
  input {
    color: $light-theme-text;
  }
  .big-size {
    &:hover {
      background: $light-theme-text;
    }
  }

  .portfolio-filter {
    li {
      color: #0b0b13;
    }
  }

  .title, .subTitle {
    color: $light-theme-text;
  }
  .slider {
    background: #5AB159;
  }

  .separator {
    background: #FFFFFF;
  }
  .count {
    color: $light-theme-text;
  }
  .swiper-pagination-bullet {
    background: $light-theme-text;
    border: 1px solid #000000;
  }
  .v-icon-seo, .v-icon-web, .v-icon-dew, .v-icon-hosting {
    background: $light-theme-text;
  }

  .experience-box,
  .feedback-form,
  .feedback-contact__info,
  .swiper-slide,
  .education-column__list,
  .service-item__box  {
    background: $light-theme-sidebar-bg;
    color: $light-theme-text;
  }
  .about,
  .education,
  .experience,
  .services,
  .feedback,
  .testimonials {
    background-color: #FFFFFF;
    color: $light-theme-text;
  }
  .feedback{
    h4, a {
      color: $light-theme-text;
    }
  }

  .form-controller {
    border: solid 1px  rgba(0, 0, 0, 0.24);
  }
  .separator::after {
    background: #ffffff;
  }
  .header-mobile {
    background-color: #FFFFFF;
    color: #333342;
  }
  .sidebar-social {
    span {
      background-color: #0b0b13;
      opacity: 0.5;
      &:hover {
        background: $green-primary;
      }
    }
  }
  .px-btn-theme {
    box-shadow: 4px 4px #0b0b13;

    &:hover {
      background: #0b0b13;
      color: #FFFFFF;
      box-shadow: 4px 4px #2fbf71;
    }
  }

  .color_switch {
    background-color: #333342;
  }


  .home-banner {
    position: relative;
    background-color: $light-theme-bg;
    color: $light-theme-text;
    &:after {
      background: $light-theme-sidebar-bg;
      z-index: 2;
    }
  }
  .sidebar {
    background-color: $light-theme-sidebar-bg;
    color: $light-theme-sidebar-links;
    &::after {
      background-color: $light-theme-sidebar-bg;
    }
    li {
      color: black;
      font-weight: 600;

      span {
        background-color: $light-theme-sidebar-links;
      }

      &:hover {
        h5 {
          color: $green-primary;
          font-weight: 800;
        }

        span {
          background-color: $green-primary;
        }
      }

      &.active {
        h5 {
          color: $green-primary;
          font-weight: 800;
        }

        span {
          background-color: $green-primary;
        }
      }
    }
    &-head-links__link {
      border-top: 1px solid rgba(11, 11, 19, 0.03);
    }
  }
}