@import '../variables';
@import '../media';
//SERVICES
.big-size {
  width: 186px;
  height: 52px;
  &:hover {
    background: white;
  }
}
.services-wrapper {
  margin-top: 45px;
}
.service-item {
  margin-top: 15px;
  padding-bottom: 15px;
  padding-right: 20px;
  @include _768 {
    padding-bottom: 10px;
    padding-right: 10px;
  }
  &__box {
    padding: 40px;
    overflow: hidden;
    background: $theme-sidebar-color;
    transition: ease background 0.35s;
    @include _768 {
      padding: 20px;
    }
    &:hover {
      background: $green-primary;
    }
    &-content {
      padding-left: 25px;
      h5 {
        font-size: 20px;
        margin-bottom: 15px;
      }
      p {
        line-height: 130%;
      }
    }
  }
}
